@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;

    @if (signInManager.IsSignedIn(User))
    { 
        <a asp-controller="Account" asp-action="UpdateProfile">Account</a>
        <a asp-controller="Account" asp-action="Logout">Logout</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Login</a>
        <a asp-controller="Account" asp-action="Register">Register</a>
        
    }